<h1>Hello <%= @meeting.user.email %>!</h1>
<p> You have created a new meeting: </p>
  <ul>
    <li><%= @meeting.user.title %></li>
    <li><%= @meeting.user.start_time %></li>
    <li><%= @meeting.user.end_time %></li>
  </ul>
