<h1>Welcome Index</h1>
<% if user_signed_in? %>

        <p><%= link_to('Logout', destroy_user_session_path(@current_user), :method => :delete, class: "btn btn-primary btn-lg" ) %></p>

      <% else %>
        <p><%= link_to('Sign Up Now', new_user_registration_path, class: "btn btn-primary btn-lg")%></p>
        <p><%= link_to('Sign In Now', new_user_session_path, class: "btn btn-primary btn-lg")%></p>

      <% end %>

<p>Welcome to The Iron Yard's conference scheduler app! Here at The Iron Yard we have 8 beautiful rooms available for our users to reserve for their conferences and meetings. In order to reserve a conference room and schedule a meeting you need to have an account and be signed in, so if you don't already have an account, sign up now!</p>
