    @import 'bootstrap-sprockets';
    @import 'bootstrap';

    .room-info {
      list-style-type: none
    }

    .room-show-pic {
      display: block;
      margin-left: auto;
      margin-right: auto
    }
